@media not screen and (min-width: 768px) {
  .hide-on-sp {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hide-on-pc {
    display: none;
  }
}

.button {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  border-radius: 40px;
  border: 2px solid #4a3636;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 0px 0px #4a3636;
          box-shadow: 0px 4px 0px 0px #4a3636;
  padding: 4px 22px 6px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.button--small {
  font-size: 14px;
}
.button--large {
  font-size: 20px;
  padding: 7px 37px 9px 37px;
}
.button:hover {
  background: #ffee56;
}

body {
  color: #4a3636;
  font-family: "Noto Sans JP", serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding-block: 18px;
  background: #ffffff;
  z-index: 1020;
}
@media screen and (min-width: 768px) {
  .header {
    padding-block: 14px;
  }
}

.header__inner {
  padding-inline: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding-inline: 24px;
    max-width: 1512px;
    margin-inline: auto;
  }
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__logo img {
  display: block;
  width: 210px;
}
@media screen and (min-width: 768px) {
  .header__logo img {
    width: 183px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header__logo img {
    width: 150px;
  }
}

.header__drawer-button {
  position: relative;
  width: 32px;
  height: 28px;
}
@media screen and (min-width: 768px) {
  .header__drawer-button {
    display: none;
  }
}
.header__drawer-button.is-checked .header__drawer-bar:nth-of-type(1) {
  width: 32px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 14px;
}
.header__drawer-button.is-checked .header__drawer-bar:nth-of-type(2) {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}
.header__drawer-button.is-checked .header__drawer-bar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 14px;
}
.header__drawer-button.is-checked .header__drawer-dot {
  opacity: 0;
}

.header__drawer-bar {
  position: absolute;
  display: block;
  width: 32px;
  height: 3px;
  left: 0;
  background: #4a3636;
  border-radius: 2px;
  -webkit-transition: width 0.3s, top 0.3s, bottom 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: width 0.3s, top 0.3s, bottom 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: width 0.3s, transform 0.3s, top 0.3s, bottom 0.3s, opacity 0.3s;
  transition: width 0.3s, transform 0.3s, top 0.3s, bottom 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}
.header__drawer-bar:nth-of-type(1) {
  position: absolute;
  width: 25.6px;
  top: 0;
}
.header__drawer-bar:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header__drawer-bar:nth-of-type(3) {
  bottom: 0;
}

.header__drawer-dot {
  position: absolute;
  display: block;
  width: 4.8px;
  height: 3px;
  top: 0;
  left: 27.2px;
  right: 0;
  background: #4a3636;
  border-radius: 2px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 16px;
  }
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.header__nav-link {
  font-size: 12px;
}

.drawer {
  display: none;
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-block: 72px 20px;
  background: #ffffff;
  z-index: 1010;
}
@media screen and (min-width: 768px) {
  .drawer {
    display: none !important;
  }
}

.drawer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.drawer__nav-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
}

.drawer__button {
  margin-top: 30px;
  text-align: center;
}

.fv {
  margin-top: 64px;
  position: relative;
  background: #e9f6f8;
  padding-top: 17px;
}
@media screen and (min-width: 768px) {
  .fv {
    padding-top: 35px;
  }
}

.fv__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 78.0281690141%;
}
@media screen and (min-width: 768px) {
  .fv__background {
    height: 88.4109916368%;
  }
}
.fv__background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 0 0 24px 24px;
}
@media screen and (min-width: 768px) {
  .fv__background img {
    -o-object-position: center bottom;
       object-position: center bottom;
  }
}

.fv__inner {
  position: relative;
  z-index: 20;
  padding-inline: 20px;
  max-width: 375px;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .fv__inner {
    max-width: 888px;
  }
}

.fv__description {
  text-align: center;
  text-shadow: 0px 0px 30px #ffffff;
  font-family: "Kiwi Maru", serif;
  font-size: 14px;
  line-height: 125%; /* 17.5px */
}
@media screen and (min-width: 768px) {
  .fv__description {
    font-size: 24px;
    font-weight: 500;
  }
}

.fv__lead {
  margin-top: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .fv__lead {
    margin-top: 24px;
  }
}
.fv__lead img {
  width: 335px;
}
@media screen and (min-width: 768px) {
  .fv__lead img {
    width: 520px;
  }
}

.fv__images {
  position: relative;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .fv__images {
    margin-top: 0;
  }
}

.fv__image-smartphone {
  position: relative;
  margin-inline: auto;
  z-index: 120;
  padding-top: 30.7462686567%;
  padding-bottom: 3.2835820896%;
  width: 59.7014925373%;
}
@media screen and (min-width: 768px) {
  .fv__image-smartphone {
    padding-top: 33px;
    padding-bottom: 17px;
    width: 29.4811320755%;
  }
}

.fv__image-fukidashi {
  position: absolute;
  z-index: 110;
  top: 1.3409961686%;
  left: 0;
  width: 42.3880597015%;
}
@media screen and (min-width: 768px) {
  .fv__image-fukidashi {
    top: 0;
    left: 37px;
    width: 28.7735849057%;
  }
}

.fv__image-present {
  position: absolute;
  z-index: 110;
  top: 0;
  right: 7.4626865672%;
  width: 32.8358208955%;
}
@media screen and (min-width: 768px) {
  .fv__image-present {
    top: 17px;
    right: 14.9764150943%;
    width: 21.2264150943%;
  }
}

.fv__image-food {
  position: absolute;
  z-index: 130;
  bottom: 1px;
  left: 0;
  width: 25.671641791%;
}
@media screen and (min-width: 768px) {
  .fv__image-food {
    bottom: 0;
    left: 0;
    width: 25%;
  }
}

.fv__image-cat-1 {
  position: absolute;
  z-index: 130;
  bottom: 11.1111111111%;
  right: 0;
  width: 18.5074626866%;
}
@media screen and (min-width: 768px) {
  .fv__image-cat-1 {
    bottom: 61px;
    right: 7.1933962264%;
    width: 20.0471698113%;
  }
}

.fv__image-cat-2 {
  position: absolute;
  z-index: 140;
  bottom: 0;
  right: 2.6865671642%;
  width: 29.2537313433%;
}
@media screen and (min-width: 768px) {
  .fv__image-cat-2 {
    bottom: -43px;
    right: 0;
    width: 27.4764150943%;
  }
}